body {
    margin: 50px;
    background-color: #191919;
}

.card {
    background-color: #000000;
    display: flex;
    align-items: center;
    gap: 53px;
    padding: 40px;
    border-radius: 32px;



}
.card-block {}
.badge {
    background-color: #191919;
    color: white;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    width: fit-content;
    padding: 0 16px;
    border-radius: 6px;
    margin-bottom: 48.44px;
}
.episode {
    color: #118DA8;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 17.56px;
    
}
.title {
    color: white;
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    margin-bottom: 28px;
}
.subtitle {
    color: #FFFFFFB2;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 18px;
}
.btn {
    background-color: #118DA8;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    border-radius: 6px;
    padding: 12px;


}
.card2 {
    padding: 20px 20px 30px 20px;
    background-color: #E1EDE6;
    width: fit-content;

}
.author {
    color: #86928B;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    
}
.name {
    color: #2C2D35;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 10px;

}
.mater {
    color: #2C2D35;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 30px;

}
.price {
    color: #598D66;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 10px;

}
.button2 {
    border: 1px solid #598D66;
    background-color: #E1EDE6;
    width: 250px;
    height: 50px;
    color: #598D66;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;



}

.card3 {
    width: 380px;
    background-color: white;
    border-radius: 10px;
    border-radius: 7px;
}
.box1 {
    padding: 50px 89px 24px 44px;
}
.title1 {
    color: #2E363E;
    font-size: 24px;
    font-weight: 700;
    line-height: 143%;
    
}
.descr {
    color: #2E363E;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    }
.many {
    padding: 0px 173px 50px 44px;
}
.cost {
    color: #434B53;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 14px;
    
}
.btn4 {
    background-color: #FED84C;
    color: #2E363E;
    font-size: 18px;
    font-weight: 500;
    line-height: 152%;
    padding: 20px 40px;
    border-radius: 8px;
    border: none;
    
}
.card4 {
    background-color: #0C0B15;
    width: 330px;
    height: 400px;
    border-radius: 7px;
}
.box2 {
    display: flex;
    justify-content: space-between;
    padding: 23px;
}
.title2 {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    padding-left: 26px;
    margin-bottom: 24px;
}
.descr2 {
    color: #809FB8;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding-left: 26px;
    margin-bottom: 26px;
}

.text2 {
    color: #809FB8;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    padding-left: 27px;
    margin-bottom: 53px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}