* {
    margin: 0;  /*Внешние отст.  */ 
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: rgb(32, 29, 29);
    color: white;
    

}
header {

    padding: 40px 50px 10px 50px;
    background-color: rgb(32, 29, 29);
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo {
    width: 160px;
    height: 33px;

}
.menu {
    display: flex;
    gap: 40px;
    list-style-type: none;
    


}
.menu a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
}
.menu a:hover {
    color: #118DA8;
}
.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px;

}
.image {
    width: 650px;
    height: 873.44px;
    
}
.content {
    min-width: 500px;

}
.content h2 {
    font-size: 70px;
    font-weight: 400;
    color: white;
    line-height: 88px;
    margin-top: 300px;
    margin-bottom: 80px;
}
.content h2 span {
    font-size: 75px;
    font-weight: 400;

}
.content p {
    font-size: 15px;
    font-weight: 400;
    
}
.platforms {
    margin-top: 20px;
}
.icons {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}
.conteiner1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px;

}
.conteiner1 p {
    width: 400;
    font-size: 64px;
    line-height: 79.2px;
    letter-spacing: 2.88px;
}
.image1 {
    width: 178px;
    height: 51px;
}
.conteiner2 {
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-content: center;
    align-items: center;
    

}
.box1 {
    display: flex;    
    width: 1500px;
    height: 545px;
    background-color: black;
    border-radius: 35px;
    margin: 30px;
    
}
.image2 {
    
    margin: 40px;
    align-items: center; 
    
}
.text {
    margin: 40px;
}
.g {
    display: inline-block;
    padding: 10px;   
    background: #1e1e1e;   
    color: #fff;           
    text-align: center;
    border-radius: 6px;  
    font-size: 18px; 
    margin-top: 5px;    
}
.e {
    font-size: 17px;
    color: #118DA8;
    margin-top: 50px;
    margin-bottom: 25px;
}
.s {
    font-size: 64px;
    margin-bottom: 8px;
}
.i {
    font-size: 22px;
    color: #FFFFFFB2;
    margin-bottom: 21px;
}
.v {
    background-color: #118DA8;
    color: white;
    font-size: 18px;
    width: 208px;
    height: 51px;
    border-radius: 7px;

}
.conteiner3 {
    display: flex;
    flex-direction: row;
    margin: 60px;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    
}

.text1 {
    justify-content: flex-start;
}
.image3 {
    margin-bottom: 30px;
}
.m {
    color: #118DA8;
    font-size: 18px;
}
.j {
    color: #FFFFFF;
    font-size: 65px;
    margin-bottom: 20px;
}
.j2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.conteiner4 {
    display: flex;
    flex-direction: row;
    margin: 60px;
    justify-content: center;
    align-items: center;
    gap: 60px; 
    background-color: black;
    border-radius: 35px;
    width: 1300px;
    height: 387px;
    justify-content: space-evenly;

}
.text2 {
    margin: 0;
}
.e {
    color: #118DA8;
    font-size: 18px;

}
.a {
    color: white;
    font-size: 72px;
}
.vvod {
    display: flex;
    flex-direction: column;
}
.o {
    background-color: #191919;
    font-size: 24px;
    color: #FFFFFFB2;
    margin-bottom: 20px;
    width: 522px;
    height: 82px;
    padding: 15px;
    border-radius: 8px;
}
.v1 {
    background-color: #118DA8;
    color: white;
    font-size: 18px;
    width: 87px;
    height: 48px;
    border-radius: 6px;
    font-size: 15px;
    color: #FFFFFFB2;
}
.newpage {
    display: flex;
    justify-content: center;
    padding: 100 50px;
    margin-bottom: 70px;
    


}
.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center ;
    
}
.koment {
    background-color: #000000;
    width: 423px;
    height: 364px;
    border-radius: 32px;
    grid-template-columns: repeat(3,1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    margin: 16px;;

}
.stars {
    display: flex;       
    gap: 5px;               
    margin-bottom: 20px;
    

}
.star {
    
    width: 18px;
    height: 17px;
    

}
.otziv {
    font-size: 36px;
    color: #FFFFFF;
    
}
.person {
    color: #FFFFFFB2;
    font-size: 24px;
}

.footer {
    
    padding: 40px 80px;
    background-color: #111;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    box-sizing: border-box;
}

/* Левая часть */
.footer-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-logo {
    margin: 0;
    font-size: 40px;
    color: white;
}

.social {
    display: flex;
    gap: 15px;
}

.social img {
    width: 24px;
    height: 24px;
}

/* Центральные ссылки */
.footer-links {
    display: flex;
    gap: 80px;
}

.footer-links .column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-links a {
    color: #dcdcdc;
    text-decoration: none;
    font-size: 16px;
}

.footer-links a:hover {
    color: white;
}


.footer-platforms {
    display: flex;
    gap: 15px;
}

.footer-platforms img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
